{% extends 'base.html' %}

{% block content %}
           
<body>
    {% include "login_navbar.html" %}
    <h1>Welcome to the DataMan Program</h1>
    <br>
    <h2>Here is where we will battle AntiMath and defeat him and his minions</h2>
    <br>
    <form action="">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>Sign in / Register Account</h3>
            <p>Please sign in with your username and password</p>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
            <label for="username">Your username</label>
            <!-- Make sure to put "required" for both the input fields -->
            <input type="text" placeholder="Enter Username" name="username" required>

            <br><br>

            <!-- Password -->
            <label for="pswrd">Your password</label>
            <input type="password" placeholder="Enter Password" name="pswrd" required>
                        
            <!-- sub container for the checkbox and forgot password link -->
            <div class="subcontainer">
                <br>
                <p class="forgotpsd"> <a href="#">Forgot Password?</a></p>
            </div>
            <br>
            <!-- Submit button -->
            <button type="submit">Login</button>

            <!-- Sign up link -->
            <p class="register">Don't have access yet?  <a href="{{url_for('register')}}">Register here before AnitMath takes control!</a></p>
            <br>
            <br>
            <p class="change_password">Change Password?  <a href="{{url_for('change_password')}}">Click here to change your password!</a></p>
        
            
        </div>

        </div>
                    
    </form>
</body>
{% endblock %}