{% extends 'base.html' %}
{% block content %}

<!--for loop that will show if the account was created successfully using the flash message-->
{% for message in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h1>DataMan Password Change</h1> 
<h2>If AntiMath and his minions have caused you to forget your password, enter your username to change your password.</h2>



    <h1>Please fill out the information requested to change your password</h1>
    <br/>
<!--This will create a shadow around the fields to fill out to add a user account-->
<div class="shadow p-3 mb-5 bg body rounded">
    <form method="POST">
        {{form.hidden_tag()}}

        {{form.username.label(class="form-label")}}
        {{form.username(class="form-control")}}
        <br/>
        <br/>
        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}
        <br/>
        <br/>
        {{form.submit(class="btn btn-secondary")}}
    </form>
</div>


{% endblock %}