{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Flash Cards {% endblock %}</h1>

<div>
    <h2>{{ chosen_cat }}</h2>
</div>
    {% autoescape off %}
    <h3>{{ eqn['num1'] }}{{ eqn['operator'] }}{{ eqn['num2'] }}{{ eql_sign }}{{ ans }}</h3>
    {% endautoescape %}
    <form method="post">
        <div class="form-group">
            <input type="text" name="ans" placeholder="Answer"
                   class="form-control" value="{{ request.form['ans'] }}">
            </input>
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <h2>{{ T_F }}</h2>
    {% autoescape off %}
    <h3>{{ old_eqn['num1'] }}{{ old_eqn['operator'] }}{{ old_eqn['num2'] }}{{ old_eql_sign }}{{ old_ans }}</h3>
    {% endautoescape %}
{% endblock %}