{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} The Adventures of Luna the Llama and Mathmaticus {% endblock %}</h1>
    <a href="{{ url_for('about') }}"><h2>About</h2></a>
    <br>
    <hr>
    <a href="{{ url_for('answer_checker') }}"><h2>Answer Checker</h2></a>
    <br>
    <hr>
    <a href="{{ url_for('mem_bank') }}"><h2>Memory Bank</h2></a>
    <br>
    <hr>
    <a href="{{ url_for('mem_bank_add') }}"><h2>Memory Bank (Add)</h2></a>
    <br>
    <hr>
    <a href="{{ url_for('flash_cards') }}"><h2>Flash Cards</h2></a>
    <br>
    <hr>
    <a href="{{ url_for('flash_card_set') }}"><h2>Individual Flash Card Set</h2></a>
    <br>
    <hr>
{% endblock %}