{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Memory Bank {% endblock %}</h1>
    <a href="{{ url_for('mem_bank_add') }}"><h5>Add equations to memory bank</h5></a>
    <br>

    {% for eqn in equations %}
        <h2>{{ eqn['num1'] }}{{ eqn['operator'] }}{{ eqn['num2'] }}={{ eqn['ans'] }}</h2>
        <span class="badge badge-primary">{{ eqn['created'] }}</span>
        <a href="{{ url_for('delete', user_id=eqn['user_id'], row_id=eqn['row_id']) }}">
            <span class="badge badge-warning">Delete</span>
            <button type="button" class="deletebtn">Delete</button>
        </a>
    {% endfor %}
{% endblock %}