{% extends 'base.html' %}
{% block content %}


    <!doctype html>
    <html>
        <head>
            <title>DataMan</title>
            <body>
                <h1>Welcome to DataMan {{name|title}}</h1>
                <h2>Let's get started in defeating AntiMath and his minions on their evil plot</h2>
                <p>Here is where I <strong>will</strong> add information about the
                specic users account as well as put the links to
                all of the different games they can play</p>
            </body>
        </head>
    </html>
{% endblock %}