/* This will change the text color for all H1 banners */
h1 {
    color: darkblue;
    font-size:60px;
}

/* This will change the background color of the webpages */
body{
    background: #f4f4f4;
}

