{% extends 'base.html' %}
{% block base %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Welcome to Answer Checker. Please select which type of math you would like to try.</legend>
        </fieldset>
        <small class="text-muted ml-2">
            <a href="{{url_for('addition')}}">Addition</a>
        </small>
        <small class="text-muted ml-2">
            <a href="{{url_for('subtraction')}}">Subtraction</a>
        </small>
        <small class="text-muted ml-2">
            <a href="{{url_for('multiply')}}">Multiplication</a>
        </small>
        <small class="text-muted ml-2">
            <a href="{{url_for('division')}}">Division</a>
        </small>
    </form>
</div>
{% endblock base %}