{% extends 'base.html' %}
{% block base %}
<div class="content-section">
    <form method="POST" action="{{url_for('check_ans')}}">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Welcome to Answer Checker.</legend>
        </fieldset>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Please type in the math problem you would like to have checked.</legend>
        </fieldset>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Press Check to see if you answered your problem correctly.</legend>
        </fieldset>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <!--Change the type to text if python code changes from string to int-->
                <input type="text" name="num1" class="form-control" placeholder="First Number" required>
            </div>
            <div "col-lg-3 col-md-4">
                <select id="selectOperation" class="form-control" name="operator" required>
                    <option value="">Select..</option>
                    <option value="plus">+</option>
                    <option value="minus">-</option>
                    <option value="multiply">X</option>
                    <option value="divide">/</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-4">
                <!--Change the type to text if python code changes from string to int-->
                <input type="text" name="num2"class="form-control" placeholder="Second Number" required>
            </div>
            <div class="col-lg-1">
                <div class="text-center">=</div>
            </div>
            <div class="col-lg-3 col-md-4">
                <!--Change the type to text if python code changes from string to int-->
                <input type="text" name="ans"class="form-control" placeholder="Answer" required>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-4">
                <input type="Submit" value = "Check Answer" class="btn btn-primary">
            </div>
            <!--div class="col-lg-3 col-md-4">
                <input type="Submit" value = "Cancel" class="btn btn-primary">
            </div-->
        </div>
    </form>
</div>
{% endblock base %}