{% extends 'base.html' %}

{% block base %}
<h1>{% block title %} Flash Cards / Memory Bank Game {% endblock %}</h1>
<br>
<h3>Please select which flash cards you would like to play or if you would like to play the Memory Bank Game from the drop-down menu.</h3>

<br>
    <h2>{{ set_complete }}</h2>


<br>
<form method="post">
    <label for="flash_card_set">Choose a category:</label> 
    <select name="flash_card_set" id="flash_card_set" required> 
        {% for name in categories %}
            <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</br>

    
{% endblock base %}