<!--This is using template inheritance-->
{% extends "base.html" %}
{% block base %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Welcome to Mathmaticus. Luna needs our help to save Llamatopia from destruction.</legend>
        </fieldset>
        <div class="content">
            <br>   
        <body>
            <br>
            <h2>Please login so we can work on a solution together.</h2>
            <br>
            <nav>
            <a href="login">Click here if you feel you have what it takes!</a>
            <br>
            <br>
            <p class="register">Don't have access yet? <a href="/register">Create your account now!</a></p>
            </nav>
        </body>
        </div>
    </form>

</div>


{% endblock base %}            

