{% extends 'base.html' %}
{% block content %}
    <span class="title"><h1>{% block title %} Welcome to Mathmaticus {% endblock %}</h1></span>
    <div class="content">
            
    <body>
        <h1>Here we will help Luna try to save Llamatopia from imminent descruction.</h1>
        <br>
        <h2>If you feel you have what it takes to help me help Luna, click on the link below and we can get started.</h2>
        <br>
        <nav>
        <a href="login">Click here if you feel you have what it takes to help Luna save Llamatopia before it is destroyed!</a>
        </nav>
    </body>
{%endblock%}