{% extends 'base.html' %}
{% block base %}
<div class="content-section">
    <form method="POST" action="{{url_for('mem_bank_ans')}}">
        <h1>Current User: {{current_user.username}}</h1>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Welcome to the Memory Bank.</legend>
        </fieldset>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Please enter the equations you would like to store for later..</legend>
        </fieldset>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Press Submit to commit your answers to memory.</legend>
        </fieldset>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <!--Change the type to text if python code changes from string to int-->
                <input type="text" name="num1" class="form-control" placeholder="First Number" required>
            </div>
            <div "col-lg-3 col-md-4">
                <select id="selectOperation" class="form-control" name="math_op" required>
                    <option value="">Select..</option>
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">X</option>
                    <option value="/">/</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-4">
                <!--Change the type to text if python code changes from string to int-->
                <input type="text" name="num2"class="form-control" placeholder="Second Number" required>
            </div>
            <div class="col-lg-1">
                <div class="text-center">=</div>
            </div>
            <div class="col-lg-3 col-md-4">
                <!--Change the type to text if python code changes from string to int-->
                <input type="text" name="ans"class="form-control" placeholder="Answer" required>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-4">
                <input type="Submit" value = "Submit" class="btn btn-primary">
            </div>

            <div class="col-lg-3 col-md-4">
                <div>{{note}}</div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div>{{eqn}}</div>
            </div>
            <!--div class="col-lg-3 col-md-4">
                <input type="Submit" value = "Cancel" class="btn btn-primary">
            </div-->
        </div>
    </form>
</div>
{% endblock base %}