{% extends 'base.html' %}

{% block base %}
    <h1>{% block title %} Memory Bank {% endblock %}</h1>
    <h3> You are logged in as:  {{ user_id }}</h3> 
    <a href="{{ url_for('mem_bank_add') }}"><h5>Add equations to memory bank</h5></a>
    <br>

    {% for eqn in equations %}
        <h2>{{ eqn['num1'] }}{{ eqn['operator'] }}{{ eqn['num2'] }}={{ eqn['ans'] }}</h2>
        <form action="{{ url_for('delete', user_id=eqn['user_id'], row_id=eqn['row_id']) }}" method="POST">
            <input type="submit" value="Delete Equation"
                    class="btn btn-danger btn-sm"
                    onclick="return confirm('Are you sure you want to delete this post?')">
        </form>
        <hr>
    {% endfor %}

    
{% endblock base %}