<!--This is using template inheritance-->
{% extends "base.html" %}
{% block base %}
        <h1>Please Help Mathmaticus save Llamatopia</h1>
        <div class="content">
            <br>   
        <body>
            <br>
            <h2>If you feel you have what it </h2>
            <h2>takes to help me help</h2>
            <h2> Luna, click on the link below and we</h2>
            <h2> can get started.</h2>
            <br>
            <nav>
            <a href="login">Click here if you feel you have what it takes!</a>
            <br>
            <br>
            <p class="register">Don't have access yet? <a href="/register">Register here to help Luna save Llamatopia!</a></p>
            </nav>
        </body>

{% endblock base %}            

