<!--This is using template inheritance-->
{% extends "base.html" %}
{% block base %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Welcome to Mathmaticus {{current_user.firstname}}.</legend>
        </fieldset>
        <div class="content">
            <br>   
        <body>
            <br>
            <h2>Please select a game to the right so we can help Luna save Llamatopia.</h2>
            <br>
            <nav>
            </nav>
        </body>
        </div>
    </form>

</div>


{% endblock base %}    